{{#each this}}
<li>
    <h2>Name: {{name}}</h2>
    <p>Description: {{description}}</p>
    <p>Price: {{price}}</p>
    <img src="{{image}}" alt="ingradients: {{name}} width="189" height="255"">
</li>
{{/each}}